<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025386206356-jnbjt3sn2e34lr8t20sl5c832bgtlpbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025386206356-jnbjt3sn2e34lr8t20sl5c832bgtlpbt</string>
	<key>API_KEY</key>
	<string>AIzaSyBl2i-a1XInFn9PTUHdVD4i03w7P-oMkMw</string>
	<key>GCM_SENDER_ID</key>
	<string>1025386206356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TodoManager.TodoManager</string>
	<key>PROJECT_ID</key>
	<string>todolistmanager-5939e</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistmanager-5939e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025386206356:ios:b1b1d4cfbc54d396135081</string>
</dict>
</plist>